section:nth-of-type(5)
    padding: 10%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    h1
        font-family: poppinsregular
        font-size: 20px